.button {
	border: none;
	background: @button;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	transition-duration: 1s;
	display: inline-block;
	border-radius: @border-radius;
	&.button-primary {
		background: @brand-color;
		color: @button-primary-color;
		box-shadow: 0 0 30px darken(@grey, 33%);
		font-weight: bold;
		&:hover {
			background: darken(@brand-color, 15%);
		}
	}
	&.button-secondary {
		color: @default-text-color;
	}
	&.highlighted {
		background: darken(@brand-color, 15%);
		&:hover {
			background: darken(@brand-color, 25%);
		}
	}
}

button, input[type="submit"] {
	-webkit-appearance: none;
}
