h1, h2, h3, h4, h5, h6 {
	color: @dark-text-color;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
}

.for-size(tablet-portrait-down, {
	h1 {font-size: 40px}
	h2 {font-size: 30px}
	h3 {font-size: 25px}
	h4 {font-size: 20px}
});
