@width: 100%;
@width-top-primary: 0%;
@width-content: 100%;

@media-max-device-width: 667px;
@media-max-width: 800px;

@inner-wrapper: 1100px;

@font-family: ~"'Open Sans', sans-serif";
@font-size: 16px;

@border-radius: 35px;

@brand-color: #43b3e0;
@grey: #cccccc;

@background-page: @grey;
@background-content: rgba(255,255,255,.8);
@background-mobile-nav: #fff;

@default-text-color: #3d3d3d;
@dark-text-color: #000;

@colored-text: lighten(@brand-color, 33%);

@button: @grey;
@button-primary: @brand-color;
@button-primary-color: @colored-text;

@link-color: @default-text-color;
@link-hover-color: @default-text-color;
