main {
	.article-heading {
		width: @inner-wrapper;
		margin: 0 auto;
		h1 {
			margin-bottom: 1em;
			text-align: center;
		}
		.for-size(tablet-down, {
			width: 100%;
			padding: 0 5%;
			box-sizing: border-box;
		});

	}
}
