.article-content {
	overflow: visible;
	position: relative;
	text-align: left;
	blockquote {
		border-left: 4px solid #ddd;
		font-style: italic;
		padding: 20px 0 0 30px;
	}
	p, ul, ol {
		line-height: 200%;
		padding: 0 0 25px;
	}
	h3 {
		padding: 70px 0 30px;
	}
	&>h3:first-of-type {
		padding-top: 0;
	}
	.info-box {
		float: right;
		width: 40%;
		border-left: 2px solid #ddd;
		padding-left: 50px;
		margin-left: 50px;
		margin-bottom: 50px;
	}
	.third {
		width: 33%;
		box-sizing: border-box;
		float: left;
	}
	.article-content-center {
		text-align: center;
		.for-size(tablet-down, {
			padding: 40px 10%;
			p {
				padding: 10px 0;
				text-align: left;
			}
		});
	}
	.for-size(tablet-down, {
		p {
			padding: 0 10% 25px;
		}
	});
	.for-size(phone-only, {
		.third {
			width: 100%;
		}
	});
}
