@alert-error: #c90913;
@alert-info: @brand-color;

.alert {
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	&.error {
		color: @alert-error;
		border: 1px solid @alert-error;
	}
	&.info {
		color: @alert-info;
		border: 1px solid @alert-info;
	}
}
