.contact-form {
	background: #eee;
	padding: 20px;
	border-radius: 35px;
	input[type="submit"] {
		border: none;
		color: @grayDarker;
		background: @grayLighter;
		padding: 10px 20px;
		text-transform: uppercase;
		font-size: 12px;
		text-decoration: none;
		transition: all .5s;
		&:hover {
			background-color: @grayLight;
		}
	}
	.form-submit {
		padding: 10px;
	}
	.form-items {
		p {
			box-sizing: border-box;
			width: 50%;
			display: inline-block;
			padding: 10px;
			&:last-of-type {
				width: 100%;
			}
		}
		label {
			display: block;
			padding: 10px 0;
		}
		input[type="text"], textarea {
			box-sizing: border-box;
			padding: 10px;
			width: 100%;
			border: 1px solid @grayLighter;
			transition: all .3s ease;
			&:focus, &:hover {
				border: 1px solid @gray;
			}
			&.error {
				border: 1px solid lighten(@alert-error,40%);
			}
		}
		textarea {
			height: 150px;
		}
		.fieldError {
			color: @alert-error;
			font-size: 12px;
		}
	}
	.form-description {
		padding: 40px 0;
	}
}

