.logo {
	position: relative;
	z-index: 1;
	width: 200px;
	a {
		display: inline-block;
		position: relative;
		img {
			vertical-align: middle;
			transition: all 0.3s;
			height: 60px;
		}
	}
	.for-size(tablet-portrait-down, {
		padding-bottom: unset;
	});
}
