.mobile-navigation-wrapper {
	background: rgba(255,255,255,.2);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}
.mobile-navigation-panel {
	background: @background-mobile-nav;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.mobile-navigation-button {
	position: fixed;
	top: 37px;
	right: 5%;
	z-index: 100;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	transition-property: opacity,filter;
	transition-duration: .15s;
	transition-timing-function: linear;
	outline: 0;
	border: 0;
	margin: 0;
	overflow: visible;
	font-size: 19px;
	background: 0;
	&:hover, &.active {
		opacity: 1;
	}
	&:after {
		content: @icon-pi-menu;
		display: inline;
		font-family: pavlu-innovation;
		font-size: 20px;
		margin-left: 15px;
		vertical-align: bottom;
		color: black;
	}
	&.active {
		color: transparent;
		right: 6%;
		&:after {
			color: black;
			content: @icon-pi-cross;
			font-family: pavlu-innovation;
			font-size: 30px;
		}
	}
}

.mobile-navigation-section {
	display: none;
	&.active {
		background: @background-mobile-nav;
		display: block;
		overflow-y: scroll;
		overflow-x: hidden;
		height: calc(~"100% - 90px"); // 100% - (heading+footer height)
		color: #222;
		padding: 35px 50px 50px;
		box-sizing: border-box;
	}
	a {
		display: block;
		height: 40px;
		line-height: 40px;
		padding: 10px 20px;
		text-decoration: none;
	}
	p, h3 {
		padding: 20px 20px 0 20px;
	}
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		position: relative;
		margin-bottom: 2px;
	}
	li ul a {
		padding-left: 50px;
	}
	li.selected > a,
	li:hover > a {
		background: lighten(@grey,14%);
		color: @default-text-color;
		border-radius: 10px;
	}
	li.selected > a {
		font-weight: bold;
		background: lighten(@grey,12%);
	}
}

.mobile-navigation-section-buttons {
	width: 100%;
	height: 90px;
	line-height: 88px;
	background: #fff;
	color: #000;
	padding: 0 20px;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 1px solid @grey;
	text-align: center;
	button {
		border: 0;
		background: none;
		color: #000;
		margin-right: 15px;
		height: 40px;
		line-height: 40px;
		padding: 0 15px;
		cursor: pointer;
		outline: 0;
		font-size: 17px;
		&.active {
			font-weight: 600;
			border-bottom: 3px solid #222;
		}
	}
}
