.heading-navigation {
	display: block;
	ul {
		list-style: none;
		margin: 0;
		li {
			display: inline-block;
			transition: all .3s;
		}
	}
	&.main {
		position: absolute;
		right: 0;
		line-height: 70px;
		ul {
			text-align: right;
		}
		li {
			padding: 0 20px;
			line-height: 40px;
			a {
				text-transform: uppercase;
			}
			&.selected {
				background: @brand-color;
				border-radius: @border-radius;
				box-shadow: 0 0 15px darken(@grey,33%);
				a {
					color: @button-primary-color;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
	.for-size(tablet-portrait-down, {
		display: none;
	});
}
