html,
body {
	height: 100%;
	box-sizing: border-box;
	line-height: normal;
	font-family: @font-family;
	color: @default-text-color;
	font-size: @font-size;
	font-weight: normal;
	margin: 0;
	min-height: 100vh;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block
}

.inner-wrapper {
	position: relative;
	margin: 0 auto;
	width: @width;
	overflow: auto;
	align-content: center;
}
