footer {
	width: 100%;
	display: block;
	.inner-wrapper {
		overflow: hidden;
		box-sizing: border-box;
		position: relative;
		width: @inner-wrapper;
		.for-size(tablet-portrait-down,{
			background: unset;
			width: 100%;
		});
	}
}
