header {
	box-sizing: border-box;
	width: @inner-wrapper;
	padding: 60px 0;
	transition: all 0.3s;
	margin: 0 auto;
	.top-content-primary {
		float: left;
		width: 100%;
		height: 70px;
	}
	.inner-wrapper {
		width: 100%;
		padding: 0;
	}
	.for-size(tablet-down, {
		width: 100%;
		padding: 60px 5%;
		box-sizing: border-box;
	});
}

.page-slogan {
	display: none;
}
