main {
	box-sizing: border-box;
	position: relative;
	width: @width-content;
	padding: 0 50px;
	.inner-wrapper {
		width: @inner-wrapper;
		overflow: auto;
		padding: 0;
		background: @background-content;
		text-align: center;
		margin-bottom: 50px;
		border-radius: 20px;
		box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.4);
		.for-size(tablet-down, {
			width: 100%;
			margin-bottom: 0;
			border-radius: 0;
		});
	}
	.for-size(tablet-down, {
		padding: 0;
	});
}

.center {
	position: relative;
	box-sizing: border-box;
	padding: 60px 40px;
	.for-size(tablet-down, {
		padding: 100px 0;
	});
}
